<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flight Selection</title>
    <link rel="stylesheet" type="text/css" href="../static/public/flights.css">
</head>
<body>
    <header class="header">
        <!-- add back button-->
        <a href="index.html" class="back-btn">Back</a>
        <a href="/"><img class="logo"  src="../static/public/131_logo.png"></a>
    </header>
        <main class="content">
            <img class="background-banner" src="../static/public/plane.jpg">
            <h1>Choose an Airline</h1>
            <div class="airline-button" aria-label="Choose Southwest Airlines">
                <span class="airline-name">Southwest</span>
                <span class="airline-price">Flights starting at $120</span>
                <!-- Hidden input to handle airline name post request -->
                <form action="/flights" method="POST">
                    <input type="hidden" name="airline" value="Southwest">
                    <button class="choose-btn" type="submit">Choose</button>
                </form>
            </div>
            <div class="airline-button" aria-label="Choose United Airlines">
                <span class="airline-name">United</span>
                <span class="airline-price">Flights starting at $120</span>
                <!-- Hidden input to handle airline name post request -->
                <form action="/flights" method="POST">
                    <input type="hidden" name="airline" value="United">
                    <button class="choose-btn" type="submit">Choose</button>
                </form>
            </div>
            <div class="airline-button" aria-label="Choose Spirit Airlines">
                <span class="airline-name">Spirit</span>
                <span class="airline-price">Flights starting at $120</span>
                <!-- Hidden input to handle airline name post request -->
                <form action="/flights" method="POST">
                    <input type="hidden" name="airline" value="Spirit">
                    <button class="choose-btn" type="submit">Choose</button>
                </form>
            </div>
            <div class="airline-button" aria-label="Choose Hawaiian Airlines">
                <span class="airline-name">Hawaiian</span>
                <span class="airline-price">Flights starting at $120</span>
                <!-- Hidden input to handle airline name post request -->
                <form action="/flights" method="POST">
                
                <input type="hidden" name="airline" value="Hawaiian">
                <button class="choose-btn" type="submit">Choose</button>
                </form>
            </div>
            <!-- other airlines -->
            <div class="airline-button" aria-label="Choose Delta Airlines">
                <span class="airline-name">Delta</span>
                <span class="airline-price">Flights starting at $120</span>
                <!-- Hidden input to handle airline name post request -->
                <form action="/flights" method="POST">
                <input type="hidden" name="airline" value="Delta">
                <button class="choose-btn" type="submit">Choose</button>
                </form>
            </div>
            <div class="airline-button" aria-label="Choose Frontier Airlines">
                <span class="airline-name">Frontier</span>
                <span class="airline-price">Flights starting at $120</span>
                <!-- Hidden input to handle airline name post request -->
                <form action="/flights" method="POST">
                <input type="hidden" name="airline" value="Frontier">
                <button class="choose-btn" type="submit">Choose</button>
                </form>
            </div>
            <div class="airline-button" aria-label="Choose American Airlines">
                <span class="airline-name">American</span>
                <span class="airline-price">Flights starting at $120</span>
                <!-- Hidden input to handle airline name post request -->
                <form action="/flights" method="POST">
                <input type="hidden" name="airline" value="American">
                <button class="choose-btn" type="submit">Choose</button>
                </form>
            </div>
            <div class="airline-button" aria-label="Choose JetBlue Airlines">
                <span class="airline-name">JetBlue</span>
                <span class="airline-price">Flights starting at $120</span>
                <!-- Hidden input to handle airline name post request -->
                <form action="/flights" method="POST">
                <input type="hidden" name="airline" value="JetBlue">
                <button class="choose-btn" type="submit">Choose</button>
                </form>
            </div>
            <div class="airline-button" aria-label="Choose Alaska Airlines">
                <span class="airline-name">Alaska</span>
                <span class="airline-price">Flights starting at $120</span>
                <!-- Hidden input to handle airline name post request -->
                <form action="/flights" method="POST">
                <input type="hidden" name="airline" value="Alaska">
                <button class="choose-btn" type="submit">Choose</button>
                </form>
            </div>
            <div class="airline-button" aria-label="Choose Allegiant Airlines">
                <span class="airline-name">Allegiant</span>
                <span class="airline-price">Flights starting at $120</span>
                <!-- Hidden input to handle airline name post request -->
                <form action="/flights" method="POST">
                <input type="hidden" name="airline" value="Allegiant">
                <button class="choose-btn" type="submit">Choose</button>
                </form>
            </div>
        </main>
    </form>
</body>
</html>