<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset='UTF-8'>
		<meta name='viewport' content='width=device-width, initial-scale=1.0'>
		<title>Index File</title>
		<link href='../static/public/index.css' rel='stylesheet'>
	</head>
	<body class="home-page">
		<a href="/index.html"><img class="logo" src="../static/public/131_logo.png"></a> <!-- Image logo -->
		<div class="center-content">
			<h1 class="home-title">Come Fly With Us</h1>
			<a class="start-button" href="/booking.html">Start Here</a>
		</div>
	</body>
</html>
