<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset='UTF-8'>
		<meta name='viewport' content='width=device-width, initial-scale=1.0'>
		<title>Index File</title>
		<link href='../static/public/index.css' rel='stylesheet'>
	</head>
	<body>
		<h1>This file is the index file</h1>
		<p>index.html</p>
		<div class="section-1">
			<h3>Section 1</h3>
		</div>
		<div class="section-2">
			<h4>Section 2</h4>
		</div>
		<div class="section-3">
			<p>Random text here</p>
		</div>
		<img class="image" src="../static/public/plane.jpg">
	</body>
</html>
