.purchasing_page{
  border: 2px solid clear;
  margin-left: 250px;
  margin-right: 250px;
  margin-bottom: 30px;
  box-shadow: 0px 2px 4px 0px grey;
  background-color: #faf9f6;
  height: 750px;

  font: 'nunito sans', sans-serif;
}
.purchase_text{
  position: relative;
  top: 40px;
  text-align: center;
  font-size: 17pt;
  color: #88001b;
}
.purchasing-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: auto;
}
.purchasing-row > .input-box{
  width: 9vw;
}
.input-margin{
  margin-left: 1.5vw;
}
.logo{
  position: relative;
	top: 0px; /* 20, 20, 60 */
	left: 20px;
	height: 60px;
	width: auto;
	object-fit: contain;
}
.subsection {
  background-color: #fff;
  padding: 20px;
  width: 50vw;
  height: 37vh;
  margin-bottom: 20px;
  display: block; /* Add this line */
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  box-shadow: 0px 2px 4px 0px grey;
}
.credit-card{
  position: relative;
  bottom: 0px;
  left: 2.5vw;
  width: 15vw;
  height: auto;
}
.purchasing-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.left-subsection,
.right-subsection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-box{
  border-radius: 3px;
  background-color: #FAF9F6;
  border-color: transparent;
  box-shadow: 0px 2px 4px 0px grey;
  margin-bottom: 2vh;
  width: 20vw;
  height: 5vh;
  text-decoration: none;
  transition: 300ms;
}
.input-box:hover{
  transition: 300ms;
  box-shadow: 0px 4px 4px 0px grey;
}
.input-box:focus{
  outline: none;
}
::placeholder{
  color: #ABABAB;
  border-bottom: 1px solid #ABABAB;
  width: 95%;
  opacity: 50%;
  padding-left: 2%;
}
.submit-button{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 7vw;
  height: 5vh;

  text-align: center;
  font-size: larger;
  font-family: 'nunito sans', sans-serif;
  transition: 300ms;
  background-color: #88001B;
  color: white;
  border-radius: 3.5px;
  border-color: transparent;
  box-shadow: 0px 2px 4px 0px grey;
  text-decoration: none;
  display: flex;
	justify-content: center;
	align-items: center;
}
.submit-button:hover{
  transition: 300ms;
  background-color: #BF3752;
}
.submit-button:active{
  background-color: black;
}

.airfare {
  display: flex;
  justify-content: space-between;
  margin-left: 110px;
  margin-right: 110px;
  margin-top: 100px;
  margin-bottom: 3px;
  font-size: 15pt;
  font-weight: bold;
}


.baggage_fee{
  display: flex;
  justify-content: space-between;
  margin-left: 110px;
  margin-right: 110px;
  margin-bottom: 3px;
  font-size: 15pt;
  font-weight: bold;
}


.security_fee {
  display: flex;
  justify-content: space-between;
  margin-left: 110px;
  margin-right: 110px;
  margin-bottom: 3px;
  font-size: 15pt;
  font-weight: bold;
}


.tax {
  display: flex;
  justify-content: space-between;
  margin-left: 110px;
  margin-right: 110px;
  margin-bottom: 10px;
  font-size: 15pt;
  font-weight: bold;
}


.total {
  display: flex;
  justify-content: space-between;
  margin-left: 110px;
  margin-right: 110px;
  margin-bottom: 10px;
  font-size: 15pt;
  font-weight: bold;
}
